<div class="row ml-0">
  <div class="text-yellow">
    <% origin_score ||= 0 %>
    <% score = (origin_score / 2.0).divmod(1) %>
    <% left = (5 - (score[0] + score[1])).ceil %>
    <% if score[0] >= 0 %>
    <% (1..score[0]).each do %>
    <span><i class="fas fa-star text-color-primary"></i></span>
    <% end %>
    <% if score[1] >= 0.5 %>
    <span><i class="fas fa-star-half-alt text-color-primary"></i></span>
    <% end %>
    <% left.times do %>
    <span><i class="far fa-star text-color-primary"></i></span>
    <% end %>
    <% else %>
    <span><i class="far fa-star text-color-primary"></i></span>
    <% end %>
  </div>
  <div class="text-yellow ml-2">
    <%= origin_score %>점
  </div>
</div>